@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#__next,
html,
body {
    height: 100%;
    scroll-behavior: smooth;
    color: rgb(31, 41, 55);
    // background-color: rgb(24, 24, 24);
}

.gradient {
    background: linear-gradient(358deg, #0d0d0d, #ff0000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 49% 0%;
    }
    50% {
        background-position: 52% 100%;
    }
    100% {
        background-position: 49% 0%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 49% 0%;
    }
    50% {
        background-position: 52% 100%;
    }
    100% {
        background-position: 49% 0%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 49% 0%;
    }
    50% {
        background-position: 52% 100%;
    }
    100% {
        background-position: 49% 0%;
    }
}

.square {
    position: relative;
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.hide-scroll-bar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
    text-shadow: none;
}
